<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTarneeb.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MyTarneeb.MySettings>
            <setting name="Tarneeb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentBet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HumanTeamScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComputerTeamScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BetOwner" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TurnNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GameLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackCardDesign" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackCardColor" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="HumanPlayValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HumanPlayFamily" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayersTurn" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomBackSide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomBackSideFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalGameTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TotalWonGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLostGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalGamesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResetDate" serializeAs="String">
                <value />
            </setting>
            <setting name="PeriodGameTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="PeriodWonGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeriodLostGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeriodGamesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TurnFamily" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FamiliesByDescending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CardsByDescending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AngleBetweenFirstAndLastCard" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="GameComment" serializeAs="String">
                <value />
            </setting>
            <setting name="GameCommentTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreparationPlayersOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="AngleBetweenEachCard" serializeAs="String">
                <value>10</value>
            </setting>
        </MyTarneeb.MySettings>
    </userSettings>
</configuration>
